{{#each bounties as |bounty|}}
<div class="card bg-dark text-white">
  <img class='picture' src="/images/{{picture}}">
  <div class="d-flex card-img-overlay align-items-center justify-content-center">
    <h2 class="card-title">{{bounty.name}}</h2>
  </div>
</div>
{{/each}}