<div class="container">
  <div class="row justify-content-md-center">
    <h2>Welcome to the Bounty Hunter Guild.</h2>
  </div>

<form class="login-form">
  <div class="form-group">
    <label for="email-login">Email Address</label>
    <input class="form-control" type="text" id="email-login"/>
  </div>
  <div class="form-group">
    <label for="password-login">Password</label>
    <input class="form-control" type="password" id="password-login"/>
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
  <a href="/signup" type="button" class="btn btn-primary" >Sign up</a>
</form>


<script src="/js/login.js"></script>
